p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.sidebar-title, .sidebar-item, .sidebar-section {
  color: rgb(251, 236, 236) !important;
}
.navbar-title {
  color: white !important;
}
